@font-face {
    font-family: 'TradeGothicLTStdRegular';
    src: url('fonts/tradegothicltstd-webfont.eot');
    src: url('fonts/tradegothicltstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothicltstd-webfont.woff') format('woff'),
         url('fonts/tradegothicltstd-webfont.ttf') format('truetype'),
         url('fonts/tradegothicltstd-webfont.svg#TradeGothicLTStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicLTStdBoldNo.2';
    src: url('fonts/tradegothicltstd-bd2-webfont.eot');
    src: url('fonts/tradegothicltstd-bd2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothicltstd-bd2-webfont.woff') format('woff'),
         url('fonts/tradegothicltstd-bd2-webfont.ttf') format('truetype'),
         url('fonts/tradegothicltstd-bd2-webfont.svg#TradeGothicLTStdBoldNo.2') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TradeGothicLTStdBdCnNo.20';
    src: url('fonts/tradegothicltstd-bdcn20-webfont.eot');
    src: url('fonts/tradegothicltstd-bdcn20-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothicltstd-bdcn20-webfont.woff') format('woff'),
         url('fonts/tradegothicltstd-bdcn20-webfont.ttf') format('truetype'),
         url('fonts/tradegothicltstd-bdcn20-webfont.svg#TradeGothicLTStdBdCnNo.20') format('svg');
    font-weight: normal;
    font-style: normal;

}


html{
	background-color: #383838;
	
	background-image: linear-gradient(left , rgb(41,46,51) 0%, rgb(102,102,102) 50%, rgb(41,46,51) 100%);
	background-image: -o-linear-gradient(left , rgb(41,46,51) 0%, rgb(102,102,102) 50%, rgb(41,46,51) 100%);
	background-image: -moz-linear-gradient(left , rgb(41,46,51) 0%, rgb(102,102,102) 50%, rgb(41,46,51) 100%);
	background-image: -webkit-linear-gradient(left , rgb(41,46,51) 0%, rgb(102,102,102) 50%, rgb(41,46,51) 100%);
	background-image: -ms-linear-gradient(left , rgb(41,46,51) 0%, rgb(102,102,102) 50%, rgb(41,46,51) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, rgb(41,46,51)),
		color-stop(0.5, rgb(102,102,102)),
		color-stop(1, rgb(41,46,51))
	);

	overflow-x: hidden;
}



body{
	color: #FFFFFF;
	font-family: TradeGothicLTStdRegular, Cambria,Georgia,"New Century Schoolbook","Century Schoolbook L","Times New Roman",serif;
	margin: 0 auto;
	padding: 0 20px;
	text-shadow: #333 1px 1px 1px;
	
}

h1{
	font-family: 'TradeGothicLTStdBoldNo.2', Cambria,Georgia,"New Century Schoolbook","Century Schoolbook L","Times New Roman",serif;
	font-weight: normal;
}

h1#logo {
	width: 332px; height: 116px;
	background: url("logo.png");
	background-repeat: no-repeat;
	text-indent: -9999px;
	float: left;
}

h1#logo a {
	width: 332px; height: 116px;
	display: block;
}

body header h1{
	display: fixed;
}

section{
	clear: both;
}

p{
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: -1px;
	word-spacing: 3px;
	/*text-shadow: #8D8D8D 0px 1px 5px;*/
}

h1{
	font-size: 40px;
	padding: 0 15px;
	margin: 0;
}

section h1{
	font-size: 32px;
}

article{
	padding: 0 10px;
}

.fullslot {
	
	border-radius: 8px;
	padding: 0 10px 20px 10px;
	background-color: #cdcdcd;
	color: #fff;
	text-shadow: #8D8D8D 1px 1px 1px;

	background-image: linear-gradient(bottom, rgb(163,160,163) 5%, rgb(205,205,205) 77%);
	background-image: -o-linear-gradient(bottom, rgb(163,160,163) 5%, rgb(205,205,205) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(163,160,163) 5%, rgb(205,205,205) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(163,160,163) 5%, rgb(205,205,205) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(163,160,163) 5%, rgb(205,205,205) 77%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(163,160,163)),
		color-stop(0.77, rgb(205,205,205))
	);

}

.fullslot h1{
	font-size: 27px;
	padding: 0;
	margin-bottom: 5px;
}

.session{
	border-radius: 8px;
	padding: 5px 10px;
	margin-bottom: 5px;
}


.session h1{
	font-size: 20px;
	padding: 0;

}

.timeslot{
	margin-bottom: 30px;
}

.timeslot time{
	font-size: 25px;
	background-color: #FFFFFF;
	color: #000000;
	display: block;
	border-radius: 8px;
	padding: 8px 10px;
	margin-bottom: 5px;
	text-shadow: #ccc 1px 1px 5px;
	margin-top: 0;

	background-image: linear-gradient(bottom, rgb(237,232,237) 5%, rgb(255,255,255) 77%);
	background-image: -o-linear-gradient(bottom, rgb(237,232,237) 5%, rgb(255,255,255) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(237,232,237) 5%, rgb(255,255,255) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,232,237) 5%, rgb(255,255,255) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(237,232,237) 5%, rgb(255,255,255) 77%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(237,232,237)),
		color-stop(0.77, rgb(255,255,255))
	);

	text-align: right;

}

.timeslot time div{
	padding-right: 5px;
}

.speakers{
	position: relative;
	bottom: 0;
}

.dev, .design, .hybrid{
	text-shadow: #aaa 1px 1px 1px;
}

.dev{
	background-color: #0CF;
	text-shadow: #00667F 1px 1px 3px;

	background-image: linear-gradient(bottom, rgb(15,154,189) 5%, rgb(0,204,255) 77%);
	background-image: -o-linear-gradient(bottom, rgb(15,154,189) 5%, rgb(0,204,255) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(15,154,189) 5%, rgb(0,204,255) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(15,154,189) 5%, rgb(0,204,255) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(15,154,189) 5%, rgb(0,204,255) 77%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(15,154,189)),
		color-stop(0.77, rgb(0,204,255))
	);
}

.design{
	background-color: #99CC00;
	text-shadow: #3A4C00 1px 1px 3px;

	background-image: linear-gradient(bottom, rgb(123,156,22) 5%, rgb(153,204,0) 77%);
	background-image: -o-linear-gradient(bottom, rgb(123,156,22) 5%, rgb(153,204,0) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(123,156,22) 5%, rgb(153,204,0) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(123,156,22) 5%, rgb(153,204,0) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(123,156,22) 5%, rgb(153,204,0) 77%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(123,156,22)),
		color-stop(0.77, rgb(153,204,0))
	);
}

.hybrid{
	background-color: #FF9933;
	text-shadow: #7F4C19 1px 1px 3px;

	background-image: linear-gradient(bottom, rgb(209,140,71) 5%, rgb(255,153,51) 77%);
	background-image: -o-linear-gradient(bottom, rgb(209,140,71) 5%, rgb(255,153,51) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(209,140,71) 5%, rgb(255,153,51) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(209,140,71) 5%, rgb(255,153,51) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(209,140,71) 5%, rgb(255,153,51) 77%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(209,140,71)),
		color-stop(0.77, rgb(255,153,51))
	);

}


.dev a{
	color: #00667F;
	text-shadow: #003340 1px 1px 3px;
}


.design a{
	color: #3A4C00;
	text-shadow: #394C00 1px 1px 3px;
}

.hybrid a{
	color: #7F4C19;
	text-shadow: #7F4C19 1px 1px 3px;
}



#speakers article{
	border-radius: 8px;
	padding: 5px 15px;
	margin-bottom: 30px;
	clear: both;
	float: left;
}

#speakers article h1{
	font-size: 30px;
	padding: 0;

}


#speakers article img{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px solid #FFF;
	-moz-box-shadow:    1px 1px 5px 1px #111;
	-webkit-box-shadow: 1px 1px 5px 1px #111;
	-ms-box-shadow: 1px 1px 5px 1px #111;
	box-shadow: 1px 1px 5px 1px #111;
}

.blurb{
	padding: 0 0 0 15px;
	margin: 5px 0 0 0;
	
	border-left: 2px solid #dedede;
	line-height: 2;
	color: #dedede;
	font-size: 21px;
	
	font-family: 'TradeGothicLTStdBdCnNo.20', Cambria,Georgia,"New Century Schoolbook","Century Schoolbook L","Times New Roman",serif;
	font-weight: normal;
}
.day header{
	border-radius: 8px;
	background-color: #000;
	padding: 5px 0px;
	margin-bottom: 10px;

	background-image: linear-gradient(bottom, rgb(0,0,0) 5%, rgb(64,62,64) 77%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 5%, rgb(64,62,64) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 5%, rgb(64,62,64) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 5%, rgb(64,62,64) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 5%, rgb(64,62,64) 77%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(0,0,0)),
		color-stop(0.77, rgb(64,62,64))
	);
}

nav{
	display: block;
	clear: both;
	font-family: 'TradeGothicLTStdBdCnNo.20', Cambria,Georgia,"New Century Schoolbook","Century Schoolbook L","Times New Roman",serif;
	font-weight: normal;
}

nav ul{
	list-style: none;
	border-radius: 8px;
	padding: 5px 5px;
	margin-bottom: 30px;
	text-shadow: #aaa 1px 1px 1px;
	margin-top: 0;

	background-image: linear-gradient(bottom, rgb(237,232,237) 5%, rgb(255,255,255) 77%);
	background-image: -o-linear-gradient(bottom, rgb(237,232,237) 5%, rgb(255,255,255) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(237,232,237) 5%, rgb(255,255,255) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,232,237) 5%, rgb(255,255,255) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(237,232,237) 5%, rgb(255,255,255) 77%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(237,232,237)),
		color-stop(0.77, rgb(255,255,255))
	);

}

nav ul a{
	display: block;

	text-decoration: none;
	border-radius: 8px;
	padding: 8px 10px;
	margin-bottom: 5px;
	text-shadow: #666666 1px 1px 5px;
	margin-top: 0;
	color: #FFF;
	font-size: 20px;

	background-image: linear-gradient(bottom, rgb(0,0,0) 5%, rgb(64,62,64) 77%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 5%, rgb(64,62,64) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 5%, rgb(64,62,64) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 5%, rgb(64,62,64) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 5%, rgb(64,62,64) 77%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(0,0,0)),
		color-stop(0.77, rgb(64,62,64))
	);
}

#home nav{
	margin-top: 20px;
	float: none;
	display: block;
	clear: both;

}

#home nav ul{
	width: auto;
	float: none;
}

#home nav ul a{
	float: none;
	font-size: 40px;
	margin-bottom: 10px;
}


@media (max-width:500px) {
	img{
		width: 100px;
		height: 100px;
	}
}

@media (min-width:750px) {

	body{
		width: 738px; 
	}

	#logo{
		margin: 20px 0 0 0 ;
		float: left;
	}

	nav{
		clear: none;
	}

	nav ul {
		width: 200px;
		margin: 10px 20px 10px 0 ;
		float: right;
	}

	nav ul a{
		font-size: 20px;
	}

	.timeslot{
		display: table;
		padding: 0;
		margin: 0;
		border-spacing: 6px 3px;
	}

	.fullslot{
		display: table-cell;
		padding: 0;
		margin: 0;
		padding: 5px 10px;
		width: 577px;
	}

	.day header{
		margin: 0 4px 6px 4px;
		width: 715px;
	}

	.day{
		margin-bottom: 30px;
	}

	.timeslot time{
		width: 100px;
		font-size: 16px;
		display: table-cell;
		padding: 0;
		margin: 0;
		padding: 5px 5px;

	}

	.session{
		display: table-cell;
		width: 175px;
		padding: 5px 10px;
	}



}