body{
	background-color: #383838;
	color: #FFFFFF;
	font-family: Cambria,Georgia,"New Century Schoolbook","Century Schoolbook L","Times New Roman",serif;
	margin: 0 auto;
	padding: 0 20px;
	text-shadow: #aaa 1px 1px 1px;
}

p{
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: -1px;
	word-spacing: 3px;
}

h1{
	font-size: 40px;
	padding: 0 15px;
	margin: 0;
}

section h1{
	font-size: 32px;
}

article{
	padding: 0 10px;
}

.fullslot h1{
	font-size: 27px;
	padding: 0;
	margin-bottom: 5px;
}

.session{
	border-radius: 8px;
	padding: 5px 10px;
	margin-bottom: 5px;
}


.session h1{
	font-size: 20px;
	padding: 0;

}

.timeslot time{
	font-size: 25px;
	background-color: #FFFFFF;
	color: #000000;
	display: block;
	border-radius: 8px;
	padding: 5px 10px;
	margin-bottom: 5px;
}

.speakers{
	position: relative;
	bottom: 0;
}

.dev{
	background-color: #0CF;
}

.design{
	background-color: #9C0;
}

.hybrid{
	background-color: #F93;
}



#speakers article{
	border-radius: 8px;
	padding: 5px 15px;
	margin-bottom: 5px;
	clear: both;
	float: left;
}

#speakers article h1{
	font-size: 30px;
	padding: 0;

}


#speakers article img{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px solid #FFF;
	-moz-box-shadow:    1px 1px 5px 1px #111;
	-webkit-box-shadow: 1px 1px 5px 1px #111;
	-ms-box-shadow: 1px 1px 5px 1px #111;
	box-shadow: 1px 1px 5px 1px #111;
}

.blurb{
	padding: 0 0 0 15px;
	margin: 5px 0 0 0;
	font-style: italic;
	border-left: 2px solid #dedede;
	line-height: 2;
	color: #dedede;
	font-size: 21px;
	text-shadow: #666 1px 1px 1px;
}


@media (min-width:750px) {

	body{
		width: 768px; 
	}

	.timeslot{
		display: table;
		padding: 0;
		margin: 0;
		border-spacing: 5px;
	}

	.fullslot{
		display: table-cell;
		width: 100%;
	}

	.timeslot time{
		width: 110px;
		font-size: 19px;

	}

	.session{
		display: table-cell;
		width: 175px;
	}



}